In [2]:
import pandas as pd

# 10 katılımcı, 5 soru (Likert tipi: 1–5 arası)
data = {
    "q1": [4, 3, 2, 5, 4, 1, 3, 5, 4, 2],
    "q2": [5, 4, 3, 5, 4, 2, 3, 5, 3, 2],
    "q3": [4, 4, 3, 4, 3, 3, 4, 5, 3, 2],
    "q4": [4, 3, 2, 5, 4, 2, 3, 4, 3, 1],
    "q5": [5, 4, 3, 5, 4, 2, 3, 5, 4, 2]
}

df = pd.DataFrame(data)
df

   q1  q2  q3  q4  q5
0   4   5   4   4   5
1   3   4   4   3   4
2   2   3   3   2   3
3   5   5   4   5   5
4   4   4   3   4   4
5   1   2   3   2   2
6   3   3   4   3   3
7   5   5   5   4   5
8   4   3   3   3   4
9   2   2   2   1   2

In [3]:
def cronbach_alpha(df):
    soru_sayisi=df.shape[1]
    her_sorunun_varyansi=df.var(axis=0,ddof=1)
    her_kisinin_varyansi=df.sum(axis=1).var(ddof=1)
    return (soru_sayisi / (soru_sayisi - 1)) * (1 - her_sorunun_varyansi.sum() / her_kisinin_varyansi)
alfa=cronbach_alpha(df)
print(round(alfa,3))

0.959

In [4]:
her_sorunun_varyansi=df.var(axis=0,ddof=1)
print(her_sorunun_varyansi.sum())

6.666666666666667

In [5]:
her_kisinin_varyansi=df.sum(axis=1).var(ddof=1)
print(1-her_sorunun_varyansi.sum()/her_kisinin_varyansi)

0.7670807453416149

In [8]:
print(round(0.7670807453416149*1.25,3)) #SONUCA GORE TEST ANKET SONUCLARIMIZ ANLAMLI

0.959