TEK ORNEKLEM Z TESTI:

In [3]:
from statsmodels.stats.weightstats import ztest

veri=[70,95,120,65,130,38,110,90,60]
alfa=0.05

zhesap,p=ztest(veri,value=80,alternative="larger")  #ztest tuple donderir
print(zhesap,p)

if p<alfa:
    print("H0 redd edilir")
else:
    print("H0 redd edilemez")

0.6339555069870142 0.26305492964421917
H0 redd edilemez

A/B TESTI(IKI ORNEKLEM Z TESTI):

In [ ]:
#ORNEK 1
from statsmodels.stats.proportion import proportions_ztest
import numpy as np

basari=np.array([45,40])
gozlem=np.array([50,50])
z,p=proportions_ztest(basari,gozlem,alternative="larger")
print(z,p)

1.4002800840280094 0.08071473118354161

In [95]:
import pandas as pd
veri={"Sayfa":["Yeni Tasarim","Yeni Tasarim","Yeni Tasarim","Yeni Tasarim","Yeni Tasarim","Yeni Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Eski Tasarim","Eski Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Eski Tasarim","Eski Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Eski Tasarim","Eski Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Eski Tasarim","Eski Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Eski Tasarim","Eski Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Eski Tasarim","Eski Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim","Eski Tasarim","Eski Tasarim","Eski Tasarim","Yeni Tasarim","Yeni Tasarim","Eski Tasarim","Yeni Tasarim"],"Satis":[0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1]}
df=pd.DataFrame(veri)
tablo=pd.crosstab(veri["Sayfa"],veri["Satis"])
tablo

col_0          0   1
row_0
Eski Tasarim  22  14
Yeni Tasarim  10  34

In [96]:
df.head(n=10)

          Sayfa  Satis
0  Yeni Tasarim      0
1  Yeni Tasarim      1
2  Yeni Tasarim      1
3  Yeni Tasarim      0
4  Yeni Tasarim      1
5  Yeni Tasarim      0
6  Yeni Tasarim      1
7  Yeni Tasarim      1
8  Eski Tasarim      0
9  Yeni Tasarim      1

In [101]:
Kontrol=df[df["Sayfa"]=="Eski Tasarim"].sample(n=32,random_state=42)
Deneysel=df[df["Sayfa"]=="Yeni Tasarim"].sample(n=32,random_state=42)
yeni_df=pd.concat([Kontrol,Deneysel],axis=0)
yeni_df.reset_index(drop=True,inplace=True)
yeni_df.head(n=10)

          Sayfa  Satis
0  Eski Tasarim      0
1  Eski Tasarim      1
2  Eski Tasarim      1
3  Eski Tasarim      0
4  Eski Tasarim      1
5  Eski Tasarim      1
6  Eski Tasarim      1
7  Eski Tasarim      0
8  Eski Tasarim      1
9  Eski Tasarim      0

In [102]:
satis_eski=yeni_df[yeni_df["Sayfa"]=="Eski Tasarim"]["Satis"]
satis_yeni=yeni_df[yeni_df["Sayfa"]=="Yeni Tasarim"]["Satis"]

In [103]:
basari=[satis_eski.sum(),satis_yeni.sum()]
gozlem=[satis_eski.count(),satis_yeni.count()]

test,p=proportions_ztest(basari,gozlem)
print(test,p)

-2.519763153394848 0.011743382301172575