TEK ORNEKLEM T TESTI:

In [2]:
from scipy import stats
veri=[28,29,35,37,32,26,37,39,22,29,36,38]
alfa=0.05
thesap,p=stats.ttest_1samp(veri,popmean=28,alternative="two-sided")
print(thesap,p)

if p<alfa:
    print("H0 redd edilir")
else:
    print("H0 redd edilemez")

2.746194120979329 0.01901964255331357
H0 redd edilir

BAGIMSIZ IKI ORNEKLEM T TESTI:

In [ ]:
# #ORNEK 1: WELCH-T
veri1=[280,287,280,275,279,278,289,284,288]
veri2=[281,374,270,273,476,273,481,282,284,500,540]
alfa=0.05

# homojenlik=stats.bartlett(veri1,veri2)
# print(homojenlik) -> homojenlik varsayimi odenmedi
# normallik=stats.shapiro(veri2)  
# print(f"{normallik.pvalue:5f}") -> normallik varsayimi odendi
thesap,p=stats.ttest_ind(veri1,veri2,alternative="two-sided",equal_var=False)
print(thesap,p)
if p<alfa:
    print("H0 redd edilir")
else:
    print("H0 redd edilemez")

-2.5433770044333364 0.029091343762326645
H0 redd edilir

In [ ]:
#ORNEK 2: INDEPENDENT T
from scipy import stats
import pandas as pd
data={"Gender":["man","woman","man","woman","woman","man","woman","man","man","woman","man"],"Expenses":[3234,3456,3689,2845,3456,3456,3234,2345,3457,2856,3245]}
dataset=pd.DataFrame(data)
dataset

   Gender  Expenses
0     man      3234
1   woman      3456
2     man      3689
3   woman      2845
4   woman      3456
5     man      3456
6   woman      3234
7     man      2345
8     man      3457
9   woman      2856
10    man      3245

In [3]:
man=dataset[dataset["Gender"]=="man"]
woman=dataset[dataset["Gender"]=="woman"]

In [7]:
istatistik,p=stats.ttest_ind(man["Expenses"],woman["Expenses"],alternative="two-sided")
print(istatistik,p)

0.2791167319245199 0.7864630341469034

In [8]:
print(man["Expenses"].mean())
print(woman["Expenses"].mean())

3237.6666666666665
3169.4

VARYANS HOMOJENLIYI ODENMESEYDI -> WELCH-T TESTI:

In [ ]:
istatistik,p=stats.ttest_ind(man["Expenses"],woman["Expenses"],alternative="two-sided",equal_var=False)
print(istatistik,p)

0.29071498829693865 0.7781579681869055

BAGIMLI IKI ORNEKLEM T TESTI:

In [1]:
from scipy import stats
import pandas as pd
dictionary={"ID'ler":[1,2,3,4,5,6,7,8,9],"once":[280,287,280,275,279,278,289,284,288],"sonra":[281,274,270,273,276,273,281,282,284]}
df=pd.DataFrame(dictionary)
df

   ID'ler  once  sonra
0       1   280    281
1       2   287    274
2       3   280    270
3       4   275    273
4       5   279    276
5       6   278    273
6       7   289    281
7       8   284    282
8       9   288    284

In [11]:
farklar=(df["once"]-df["sonra"]).tolist()
farklar

[-1, 13, 10, 2, 3, 5, 8, 2, 4]

In [12]:
normallik=stats.shapiro(farklar)
normallik

ShapiroResult(statistic=np.float64(0.9509929149413004), pvalue=np.float64(0.7009685486095413))

In [ ]:
t,p=stats.ttest_rel(df["once"],df["sonra"])
print("Test istatistigi:%.5f\np-value:%.4f" %(t,p))

Test istatistigi:3.46247
p-value:0.0085